.after{
    
    &__item{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.24px;  
        color: #BCBDBD;
        margin-bottom: 10px;
        
    }
}