.hero{
    
    &__box{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &__left-wrapper{
        padding-top: 76px;
        padding-left: 24px;
    }
    
    &__heading{
        font-family: 'Roboto';
        width: 494px;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 52px;
        letter-spacing: 1.6px;
        margin-left: 24px;
        color: #212121;
        margin: 0px;
        margin-bottom: 23px;
    }
    
    &__left-list{
        display: flex;
        margin-bottom: 63px;
    }
    
    &__left-item{
        margin-right: 8px;
    }
    
    &__left-link{
        font-family: 'Roboto';
        max-width: 100%;
        max-width: 160px;
        min-height: 48px;
        display: inline-block;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        background: #F46A35;
        border: 1px solid #F46A35;
        border-radius: 10px;
        margin-right: 8px;
        padding: 13px;
        padding-left: 32px;
        padding-right: 32px;
        color: #FFFFFF;
        
    }
    
    &__left-link2{
        font-family: 'Roboto';
        display: inline-block;
        max-width: 100%;
        max-width: 160px;
        min-height: 48px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 13px;
        padding-right: 21px;
        padding-left: 21px;
        color: #212121;
    }
    
    
    &__bottom-symbol{
        display: inline-block;
        width: 504px;
        height: 1px ;
        background: rgba(0, 0, 0, 0.1);
        margin-bottom: 33px;
    }
    
    &__bottom-title{
        font-family: 'Roboto';
        width: 456px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.32px;
        color: #212121;
        margin: 0px;
        margin-bottom: 9px;
    }
    
    &__bottom-text{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.28px;
        color: #212121;
        margin: 0px;
        margin-bottom: 7px;
        
    }
    
    &__bottom-link{
        display: inline-block;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #F46A35;
        margin-bottom: 31px;
        
    }
    
    &__right-img{
        width: 600px;
        height: 740px;
        object-fit: contain;
        vertical-align: middle;
        margin-bottom: 60px;
    }
    
}



@media only screen and (max-width: 990px){
    
    .hero{
        
        &__box{
            display: flex;
            flex-direction: column;
        }
        
        &__left-wrapper{
            display: flex;
            flex-wrap: wrap;
        }
        
        &__left-list{
            display: flex;
            align-items: center;
            margin: 0;
            padding-left: 10px;
        }
        
        
        &__left-item{
            margin-bottom: 10px;
        }
        
        &__right-wrapper{
            width: 600px;
            height: auto;
        }
        
        &__bottom-title{
            font-size: 22px;
            line-height: 20px;
            letter-spacing: 0.40px;
        }
        
        &__bottom-text{
            width: 100%;
            max-width: 300px;
            min-height: 40px;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.28px;
        }
    }
}

@media only screen and (max-width: 864px){
    
    .hero{
        
        &__box{
            display: flex;
            flex-direction: column;
        }
        
        &__heading{
            font-size: 34px;
            line-height: 44px;
            letter-spacing: 1.6px;
            padding-left: 150px;
            align-items: center;
        }
        
        &__left-wrapper{
            display: flex;
            flex-wrap: wrap;
        }
        
        &__left-list{
            display: flex;
            align-items: center;
            margin: 0;  
            padding-left: 150px;
        }
        
        
        &__left-item{
            margin-bottom: 10px;
        }
        
        &__right-wrapper{
            width: 600px;
            height: auto;
        }
        
        &__bottom-title{
            font-size: 22px;
            line-height: 20px;
            letter-spacing: 0.40px;
        }
        
        &__bottom-text{
            width: 100%;
            max-width: 300px;
            min-height: 40px;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.28px;
        }

        &__bottom-list{
            padding-left: 150px;
        }
        
        &__right-wrapper{
            padding-left: 50px;
        }

        &__right-img{
            width: 564px;
            height: 731px;
        }
    }
}


@media only screen and (max-width: 566px){
    
    .hero{
        
        &__box{
            display: flex;
            align-items: center;
        }
        
        &__heading{
            font-size: 38px;
            line-height: 48px;
            letter-spacing: 1.6px;
            padding-left: 118px;
        }
        
        &__left-wrapper{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        
        &__left-list{
            display: flex;
            align-items: center;
            margin: 0;
            padding-left: 118px;
        }
        
        
        &__left-item{
            margin-bottom: 10px;
            
        }
        
        &__right-wrapper{
            width: 600px;
            height: auto;
        }
        
        &__bottom-title{
            align-items: center;
            font-size: 22px;
            line-height: 20px;
            letter-spacing: 0.40px;
        }
        
        &__bottom-list{
            padding-left: 118px;
        }
        
        &__bottom-text{
            width: 100%;
            max-width: 300px;
            min-height: 40px;
            align-items: center;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.28px;
        }
        
        &__right-wrapper{
            padding-left: 102px;
        }
        
        &__right-img{
            width: 430px;
            height: 560px;
        }
    }
}