.solution{
    
    &__left-wrapper{
        margin-bottom: 167px;
    }
    
    &__title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 52px;
        text-align: center;
        letter-spacing: 1.6px;
        color: #212121;
        margin: 0;
        margin-bottom: 8px;
    }
    
    &__text{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.4px;
        color: #212121;
        margin: 0;
        margin-bottom: 48px;
    }
    
    &__list{
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 580px;
        background-image: url('./../../image/backround-left.png');
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: contain;
        
    }
    
    &__left-item{
        width: 100%;
        max-width: 580px;
        min-height: 641px;
        margin-right: 10px;
    }
    
    &__right-item{
        width: 100%;
        max-width: 580px;
        min-height: 641px;
    }
    
    &__left-heading{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.64px;
        color: #FFFFFF;
        padding-top: 48px;
        margin: 0px;
        margin-bottom: 10px;
    }
    
    &__left-text{
        width: 100%;
        max-width: 476px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.32px;
        color: #FFFFFF;
        padding-left: 52px;
        margin: 0;
        margin-bottom: 22px;
        
    }
    
    
    &__left-link{
        width: 100%;
        max-width: 160px;
        min-height: 48px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 10px;
        padding: 13px 43px;
        margin-left: 210px;
    }

    &__left-image{
        width: 100%;
        min-width: 580px;
        max-height: 401px;
    }

    &__right-image{
        width: 100%;
        min-width: 580px;
        max-height: 401px;
    }
    
    &__right-item{
        width: 100%;
        max-width: 580px;
        min-height: 641px;
        background-image: url('./../../image/bacround-right.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    &__right-heading2{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.64px;
        color: #212121;
        padding-top: 48px;
        margin: 0px;
        margin-bottom: 10px;
    }
    
    &__right-text2{
        width: 100%;
        max-width: 476px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.32px;
        color: #212121;
        padding-left: 68px;
        margin-bottom: 22px;
        margin: 0;
        margin-bottom: 35px;
    }
    
    &__right-link2{
        width: 100%;
        max-width: 160px;
        min-height: 48px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #212121;
        border: 1px solid #212121;
        border-radius: 10px;
        padding: 13px 43px;
        margin-left: 210px;
    }
}